 .login-logo-wrap {
    width: 230px;
}

.login-logo-wrap img.login-logo {
    display: block;
    margin: 0 auto 15px;
}

.login-logo-wrap .media-buttons {
    text-align: center;
}

.login-logo-wrap .media-buttons input.button {
    display: inline-block;
    margin: 0 3px;
}

#admin_modules .admin_module,
#admin_functions .admin_function,
#front_modules .front_module,
#front_functions .front_function,
#helpers .helper {
    float: left;
    margin-right: 40px;
}

#admin_functions .module_name,
#front_functions .module_name  {
    margin-top: 5px;
}

.admin_function.ssm-admin-setup {
    clear: both;
}

#helpers {
    line-height: 2.5em;
}

#taxonomy-acf_category #acf_category-tabs,
#taxonomy-acf_category #acf_category-adder,
#taxonomy-acf_category #acf_category-0 {
    display: none;
}

.wp-list-table a.row-category {
    text-transform: capitalize;
}

#dashboard-widgets-wrap {
    display: none;
}

#wpadminbar ul li.env-dev,
#wpadminbar ul li.env-dev:hover div,
#wpadminbar ul li.env-development,
#wpadminbar ul li.env-development:hover div,
#wpadminbar ul li.env-staging,
#wpadminbar ul li.env-staging:hover div {
	background: #b20000 !important;
	color: white !important;
}

#wpadminbar ul li.env-production,
#wpadminbar ul li.env-production:hover div {
	background: #248f24 !important;
	color: white !important;
}