/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .login-logo-wrap {
    width: 230px;
}

.login-logo-wrap img.login-logo {
    display: block;
    margin: 0 auto 15px;
}

.login-logo-wrap .media-buttons {
    text-align: center;
}

.login-logo-wrap .media-buttons input.button {
    display: inline-block;
    margin: 0 3px;
}

#admin_modules .admin_module,
#admin_functions .admin_function,
#public_modules .public_module,
#public_functions .public_function {
    float: left;
    margin-right: 40px;
}

#admin_functions .module_name,
#public_functions .module_name  {
    margin-top: 5px;
}

.admin_function.ssm-admin-branding {
    clear: both;
}

.admin_function.ssm-admin-branding,
.admin_function.ssm-admin-setup,
.admin_function.ssm-field-factory {
    margin-top: 40px;
}